h1 {
  text-align: center;
  display:block;
  &.hide{
    display:none;
  }
}

#todos {
  margin: 20px 0;
}

ul {
  list-style-type: none;
}
li span {
  padding: 0 10px;
}

.complete {
  text-decoration: line-through;
  color: #999;
}

.btn-primary{
  margin-right:20px;
  display:inline-block;

  &.hide{
    display:none;
  }
}

.form-control{
  display:block;
  &.hide{
    display:none;
  }
}

h2{
display:block;
  &.hide{
    display:none;
  }
}
